body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  width: 90%;
  margin: auto;
}
body {
  font-family: monospace;
  font-size: 1rem;
}
div p {
  color: green;
}

ol > li {
  font-weight: bold;
}

h2 + h3 {
  background-color: lightskyblue;
}
/*Con estos selectores podemos ser muy especificos
podemos seleccionar un elemento que empieza, tanto si termina con un patron
o es un elemento especifico


a[href^="https"] {
color: blue;
}

img[src$=".jpg"] {
border-radius: 5px;
}
*/

div p[align="left"]:hover {
  background-color: gold;
}
.contenedor-imagenes {
  display: flex;
  justify-content: space-around;
  background-color: red;
  padding: 1rem;
  width:50rem;
  margin: 0 auto;
  border-radius: 10px;
  gap: 0.5rem;
  height:auto;
}
.contenedor-imagenes p {
  color: black;
  font-weight: 700;
  background-color: yellow;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}

.image1,
.image2 {
  width: 100%;
  height: 100%;
}

img{
  width: 25rem;
    object-fit: contain;
  height: 15rem;
}
section {
  padding: 1rem;
  width: auto;
  margin: 4rem;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
