
body {
font-size: 62.5%;
background-color: rgb(255, 248, 248);
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.encabezado {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(223, 214, 134);
    width: 20rem;
    margin: 2rem auto 3rem auto;
    padding: 2px;
    border-radius: 14px;
    border-top-right-radius: 30px;
}
.baker {
    font-size: 13px;
    background-color: rgb(218, 143, 143);
    width: 20rem;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;

}
.contenedor {
  display: grid;
  grid-template-columns: 75% 25.4%;
  margin: 1rem auto;
  width:auto;
  max-width: 100rem;
  height: auto;
  gap: 1rem;
}

.item1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: auto;
  height: auto;
  gap: 5px;
 
  padding: 1rem;
}
.itemflex {
  font-weight: bold;
  align-content: center;
  text-align: center;
  border-radius: 5px;
background-color: rgb(252, 88, 88);
  width: 15rem;
  height: 20rem;
}
.itemflex:hover {
  box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
}
.item2 {
  width: 95%;
  height: auto;
  padding: 10px;
  box-shadow: 0px 0px 6px 1px black;

}
