body {
  background-color: #e5bb89;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.gentitle:hover::before {
  left: 100%;
  transition: ease 3s;
}
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 110rem;
  width: auto;
  height: 80rem;
  background: linear-gradient(rgb(248, 85, 85) 50%, #e5bb89);
  margin: 6rem auto;
  border-radius: 1rem;
  transition: ease-in-out 1s;
  border-right: 5px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
  border-bottom-right-radius: 2rem;
  padding: 15px;
  gap: 10px;
}
.rellenar {
  text-align: center;
  width: 30%;
  border-radius: 5px;
  margin: auto;
}
.Qtions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  gap: 10px;
}
.Qtions p {
  text-shadow: unset;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  width: 95%;
  border-left: 5px solid black;
  padding: 10px;
}
.temporizador {
  width: 30rem;
  max-height: 23rem;
  margin-top: 17px;
  padding: 1rem;
  background: linear-gradient(to bottom, gold 30%, rgb(247, 105, 105));
  border-bottom: 5px solid black;
  border-right: 5px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.temporizador:hover {
  box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
}
.temporizador:active {
  box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
}
.title_temp {
  text-align: center;
  height: auto;
  width: 65%;
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
}
.descrip {
  font-size: 13px;
  font-weight: bold;
}
.campo {
  background-color: red;
  width: auto;
  max-width: 40rem;
  padding: 10px;
  font-size: 13px;
  background: linear-gradient(
    to top,
    rgb(234, 213, 173),
    rgb(247, 105, 105) 90%
  );
  margin: 1rem auto;
  border-radius: 5px;
  border-bottom: 5px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 4px solid rgb(247, 247, 247);
  cursor: pointer;
  /*Interesante*/
}
.campo:hover {
  box-shadow: 0px 0px 2px 2px black;
  transform: scale(1.01);
  transition: transform ease 0.5s;
  /* transform: rotate(5deg); */
}
.bottonreiniciar {
  max-height: 30px;
}
.finalizar {
  max-height: 40px;
  width: 100%;
}
.noMoverHover {
  max-height: 35px;
}
.reintentar {
  width: 100%;
}
button {
  position: relative;
  overflow: hidden;
  padding: 10px;
  width: auto;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  box-shadow: 3px 4px 1px 1px rgb(164, 157, 157);
  border: medium;
}
button:focus {
  border: none;
  border-right: 3px solid whitesmoke;
  border-left: 3px solid whitesmoke;
}
button:active {
  margin-top: 5px;
  box-shadow: none;
}
input {
  margin-top: 11px;
  display: block;
  border-radius: 5px;
  padding: 9px;
  width: 33rem;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 3px solid rgb(255, 255, 255);
}
input:focus {
}
input::placeholder {
  text-transform: capitalize;
}
label {
  font-size: 15px;
  border-left: 4px solid grey;
  padding: 3px;
  font-weight: bold;
}
.campo h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 255, 0);
  border-radius: 3px;
  width: 15rem;
  height: 40px;
  margin: 10px 5px 2rem auto;
  text-align: center;
  font-size: 13px;
  text-transform: capitalize;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  font-size: 15px;
  box-shadow: 3px 3px 1px 1px #222;
}
.areaTemp {
  margin: auto;
  width: 18rem;
  height: 5rem;
  margin-bottom: 16px;
  padding: 1rem;
  border-radius: 5px;
}
.section_tempo {
  text-align: center;
  width: 10rem;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0px 3px 1px 1px #222;
}
.Comentarios {
  width: 3rem;
  height: 3rem;
  background-color: red;
}
.gratefoul {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  box-shadow: 0px 0px 1px 1px #222;
}
span {
  color: rgba(129, 0, 250, 0.993);
}
/*media queries telefono*/
@media (min-width: 360px) and (max-width: 45rem) {
  .contenedor {
    width: 95%;
    grid-template-columns: 1fr;
    border-radius: unset;
    border: 5px solid rgb(255, 255, 255);
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    gap: 10px;
  }
  .temporizador {
    margin: 0 auto 3rem;
    padding: 10px;
    width: 100%;
    order: -1;
    height: 40rem;
  }
  #tempo {
    font-size: 2.5rem;
    width: 100%;
    border: none;
  }
  .campo {
    font-size: 13px;
    background: linear-gradient(
      to top,
      rgb(234, 213, 173),
      rgba(196, 148, 148, 0) 90%
    );
    border-radius: 5px;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
    cursor: pointer; /*Interesante*/
  }
  .campo p {
    border-radius: 5px;
    margin: 5rem 1rem;
    border: unset;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.384);
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    color: #110101;
    font-size: 15px;
  }
  .finalizar {
    margin-top: 15px;
  }
  .centrar {
    padding: 1rem;
    height: 100%;
    width: 100%;
  }
  label {
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    margin-bottom: 4rem;
  }
  input {
    margin: 2rem auto;
    width: 95%;
    padding: 15px;
    height: 9rem;
    border: unset;
    border-bottom: 3px solid grey;
  }
  input:hover {
    box-shadow: 0px 0px 5px 2px grey;
  }
  input button {
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 4px 3px 2px rgb(164, 157, 157);
    height: 5rem;
    max-height: 7rem;
    margin-top: 10px;
  }
  button:active {
    max-height: 40px;
    border-color: yellow;
    margin-top: 10px;
    border-width: 1px;
    box-shadow: none;
  }
  .campo h3 {
    background-color: rgb(234, 255, 0);
    width: 100%;
    text-align: center;
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 5px;
    height: 45px;
    padding: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    margin-bottom: 3rem;
  }
  .Qtions p {
    font-size: 16px;
    width: auto;
    border-left: 5px solid black;
    border: none;
    background-color: rgba(255, 255, 255, 0.384);
  }
  .section_tempo {
    width: 15rem;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 3px 1px 1px #222;
  }
  .gratefoul {
    margin-top: 40px;
  }
}
