/*
    Agregar tareas

    Eliminar tareas

    Marcar como completadas

    Filtrar tareas (completadas / pendientes)

    Guardar en localStorage (si quieres ir más allá)
*/
* {
  padding: 0px;
  margin: 0px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10 px = 1rem*/
}
body {
  background-color: beige;
}
.Cont_title {
  font-size: 30px;
  margin-left: 20px;
}
.nav-bg {
  align-items: center;
  display: flex;
  max-width: 129rem;
  justify-content: space-between;
  gap: 5rem;
  margin: 1rem auto;
  border-left: 3px solid rgb(0, 0, 0);
  padding: 5px;
  border-right: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: auto;
  gap: 10px;
}
a {
  background-color: rgba(162, 158, 158, 0.51);
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  color: #222;
  padding: 10px;
  min-width: 22rem;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
}
a:hover {
  background-color: black;
  color: #eee;
  transition: background-color ease-in-out 0.5s;
  border-radius: 5px;
}
.contenedor {
  display: grid;
  grid-template-columns: 20% 80%;
  width: auto;
  max-width: 130rem;
  min-height: 70rem;
  margin: 3rem auto;
}
@media (max-width: 40rem) {
  .contenedor {
    margin: 2rem auto;
    width: 95%;
    grid-template-columns: 1fr;
    box-shadow: unset;
  }
  .nav-bg {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    gap: 5px;
  }
  a {
    width: 100%;
  }
  a:hover {
    background: black;
  }
  a:nth-child(1) {
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-right: none;
  }
  a:nth-child(3) {
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    border-left: none;
  }
}
.contenedor__notas--general {
  border-top-left-radius: 3rem;
  background-color: lightcoral;
}
.contenedor_notas--ver {
  background-color: lightblue;
  height: auto;
}
footer {
  top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
}
#Author {
  border: none;
  width: 100%;
}
#Author:hover {
  background-color: unset;
  color: green;
}
.contenedor__notas--general--create {
  box-shadow: 0px 3px 1px 2px rgb(0, 0, 0);
  font-family: monospace;
  text-align: center;
  font-size: 20px;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  border-radius: unset;
}
.contenedor_creador {
  width: 95%;
  height: 33rem;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px 1px 3px 2px rgb(0, 0, 0);
}
.contenedor_creador_extras {
  width: 95%;
  min-height: 35rem;
  border-radius: 5px;
  margin: 1rem auto;
  box-shadow: 0px 1px 3px 2px rgb(0, 0, 0);
}
.header_ver-notas {
  display: flex;
  width: 95%;
  margin: 1rem auto 2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  height: 55px;
  padding: 5px;
}
.contenedor_notas--titulo {
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  margin: 3rem auto;
  border-radius: 5px;
  margin-left: 1rem;
}
select {
  align-items: center;
  text-align: center;
  width: 15rem;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  height: auto;
}
#EnviarOrden {
  margin-left: 2rem;
  border-radius: 5px;
  padding: 10px;
  width: 10rem;
  height: auto;
  margin-right: 1rem;
  font-size: 16px;
}
.contenedor_real {
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  border-radius: 5px;
  margin: -1rem auto;
  justify-items: center;
  padding: 15px;
  min-height: 70rem;
  max-height: 63rem;
}
.nota {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  margin-top: 1rem;
  width: 22rem;
  height: 36rem;
  border-bottom-right-radius: 10px;
  padding: 5px;
}
.nota:hover {
  transform: scale(1.05);
  transition: transform ease 0.5s;
}
.titulo_nota {
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  width: 90%;
  height: 5rem;
  margin: 6px auto;
  text-align: center;
  font-size: 15px;
}
.contenido_nota {
  text-align: center;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  width: 2rem;
  min-height: 22rem;
  margin: auto;
  width: 90%;
  overflow: hidden;
}
.opciones_notas {
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  width: 2rem;
  height: 3rem;
  margin: auto;
  width: 95%;
  display: flex;
}
.notas_opcion {
  background-color: red;
  text-align: center;
  text-decoration: none;
  color: #222;
  padding: 10px;
  letter-spacing: 3px;
  font-size: 7px;
  width: 100%;
}
.contenedor_creador {
  display: flex;
  align-content: center;
}
nav {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-left: 4rem;
}
.enviar_notas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 0px 1px 3px 1px rgb(223, 223, 223);
  width: 90%;
  margin: 1rem auto;
}

label {
  font-size: 15px;
}
input {
  padding: 5px;
  width: 100%;
}
p {
  font-size: 15px;
}
textarea {
  min-height: 10rem;
  width: 100%;
}
#Crear_nota {
  padding: 5px;
  width: 100%;
}
