h1 {
  text-align: center;
  background: transparent;
  color: white;
  height: auto;
  margin-top: -5px;
  box-shadow: 0px 0px 5px 3px black;
  padding: 10px;
  border-radius: 5px;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #222;
  color: #a09a9a;
}
.contenedor {
  margin: 2rem auto;
  width: 22rem;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(202, 202, 231, 0.418);
}
.inputs {
  font-style: italic;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.418);
  padding: 5px;
  border-radius: 10px;
}
.entrada {
  width: 1rem;
  height: 3.5rem;
  border-radius: 5px;
}
.operador1 {
  flex: 1;
}
.operador2 {
  flex: 1;
}
.operaciones_basicas {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap: 15px;
}
.basic {
  width: auto;
  height: 4rem;
}
.operacion_math {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 10px;
}
.math {
  font-weight: bold;
  align-content: center;
  color: white;
  text-align: center;
  margin-top: 15px;
  border-radius: 5px;
  background-color: rgb(134, 84, 168);
  height: 5rem;
}
.resultado-cont {
  margin-top: 1.2rem;
  border-radius: 5px;
  border: 2px solid rgb(143, 0, 238);
  width: 100%;
  height: 3rem;
  align-content: center;
}
.resultado-cont p {
  text-align: end;
  color: rgb(0, 0, 0);
}
#resultado {
  margin: auto;
  color: red;
  padding: 5px;
  border-top-left-radius: 5px;
}
.operaciones_redondeo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.extra {
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  width: 7rem;
  height: 4rem;
  background-color: rgb(167, 88, 219);
}
.basic:hover,
.extra:hover,
.math:hover {
  box-shadow: 0px 0px 1px 2px rgb(0, 0, 0);
  border-radius: 5px;
}
.basic,
.extra,
.math {
  cursor: pointer;
}
.basic:active,
.extra:active,
.math:active {
  box-shadow: 0px 0px 1px 2px rgb(0, 0, 0);
}
#ingreso1,
#ingreso2 {
  border: none;
  margin-top: 10px;
  height: 25px;
  width: 95%;
  text-align: right;
}
.operando1,
.operando2 {
  background-color: #eeeeee3a;
  padding: 6px;
  box-shadow: 0px 0px 3px 1px black;
  font-weight: bold;
  margin-left: 4rem;
}
#resultado {
  text-align: end;
  margin-right: 1rem;
  font-size: 27px;
  font-weight: bold;
}
button {
  background-color: rgba(171, 27, 207, 0.644);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  color: #eee;
  cursor: pointer;
}
button:hover {
  border: medium;
}
button:active {
  box-shadow: unset;
}
.gratefoul {
  text-align: center;
  font-size: 18px;
  color: #eee;
  letter-spacing: 3px;
}
.gratefoul:active {
  color: red;
}
span {
  color: rgb(157, 82, 238);
}
label {
  color: white;
}
input {
  background-color: transparent;
  color: #eee;
  border-radius: 5px;
}
input:focus {
  outline: unset;
}
input::placeholder {
  color: rgb(224, 205, 205);
  text-align: center;
  font-size: 1rem;
}
#ingreso1,#ingreso2 {
  border-bottom: 3px solid  rgb(255, 255, 255);
}
#cero {
  grid-column: 1/ 4;
}
@media (max-width: 600px) {
  #resultado {
    font-size: 20px;
  }
  .contenedor {
    width: 90%;
  }
  .inputs {
    flex-direction: column;
    gap: 0px;
  }
  .operador1,
  .operador2 {
    width: 100%;
    margin-top: 1rem;
    font-size: 10px;
  }
  
}
